<div class="container">
  <mat-toolbar>
    <span>Crear Usuario:</span>
  </mat-toolbar>
  <mat-card class="mt-10">
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="crear()">
        <mat-grid-list cols="4" rowHeight="80px">
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field style="margin-top: 10px;" appearance="outline">
              <mat-label>Usuario</mat-label>
              <input matInput autocomplete="off" formControlName="usuario">
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="3" [rowspan]="5">
            <img src="./assets/img/user.png" width="250" height="250"/>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field style="margin-top: 10px;" appearance="outline">
              <mat-label>Nombre</mat-label>
              <input matInput autocomplete="off" formControlName="nombre">
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field style="margin-top: 10px;" appearance="outline">
              <mat-label>Apellidos</mat-label>
              <input matInput autocomplete="off" formControlName="apellidos">
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field>
              <mat-label>Sexo</mat-label>
              <mat-select formControlName="sexo">
                <mat-option *ngFor="let sexo of sexos" [value]="sexo">
                  {{sexo}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <button mat-raised-button style="margin-right: 20px;">Volver</button>
            <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Aceptar</button>

          </mat-grid-tile>

        </mat-grid-list>
      </form>
    </mat-card-content>
  </mat-card>
</div>
